{% extends "base.html" %}
{% load static %}

{% block title %}Каталог товаров{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Каталог товаров</h1>
    <div class="catalog-container">
        {% for product in products %}
            <div class="product-card">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                {% else %}
                    <img src="{% static 'img/default-product.jpg' %}" alt="Нет изображения" class="img-fluid">
                {% endif %}
                <h5 class="mt-2">{{ product.name }}</h5>
                <p>{{ product.price }} HUF</p>
                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Подробнее</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}